{% extends 'base.html.twig' %}

{% block title %}E-com - HomePage{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center mt-5">Welcome to our E-commerce website</h1>
    <h2 class="text-center mb-5">HomePage</h2>

    <div class="row">
        <div class="col-md-4">
            <img src="path_to_your_product_image.jpg" class="img-fluid" alt="Product Image">
        </div>
        <div class="col-md-8">
            <h3>Product Name</h3>
            <p>Description du produit Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            <p><strong>$19.99</strong></p>
            <button class="btn btn-primary">Ajouter au panier</button>
        </div>
    </div>
</div>

{% endblock %}
