<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('pictures/favicon.png') }}">
    {# <link rel="stylesheet" href="/css/global.css"> #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app_style') }}
        {{ encore_entry_script_tags('app') }}
    {% endblock stylesheets %}
</head>
<body>
    {% include 'navbar.html.twig' %}
    

    <div class="container page-content">
        {% block body %}{% endblock %}
    </div>

    {% include 'footer.html.twig' %}

</body>
</html>
